# ==========================================
# SERVER
# ==========================================

PORT=3000

NODE_ENV=development

# ==========================================
# SUPABASE
# ==========================================

SUPABASE_URL=

SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=

# ==========================================
# JWT
# ==========================================

JWT_SECRET=

JWT_EXPIRES_IN=7d

# ==========================================
# GOOGLE MAPS
# ==========================================

GOOGLE_MAPS_API_KEY=

# ==========================================
# FIREBASE
# ==========================================

FIREBASE_PROJECT_ID=

FIREBASE_CLIENT_EMAIL=

FIREBASE_PRIVATE_KEY=